.comparison {
  padding: 0 27px;
}

.comparison__prop {
  margin-top: 60px;
  margin-bottom: 20px;
}

.left-value--icon,
.right-value--icon {
  width: 24px;
}

.left-value--text,
.right-value--text {
  color: #616161;
  letter-spacing: -0.4px;
  line-height: 22px;
}
